In [440]:
import pandas as pd
import statsmodels.formula.api as smf
from sklearn.linear_model import LinearRegression
import numpy as np

In [104]:
Edad=pd.read_csv("Edad.csv", sep=';', decimal=',')

In [105]:
Edad.head(5)

  Comunidades y Ciudades Autónomas         Sexo  Periodo  Total
0                   Total Nacional  Ambos sexos     2022  44.07
1                   Total Nacional  Ambos sexos     2021  43.80
2                   Total Nacional  Ambos sexos     2020  43.58
3                   Total Nacional  Ambos sexos     2019  43.38
4                   Total Nacional  Ambos sexos     2018  43.18

In [106]:
toted=Edad[Edad['Comunidades y Ciudades Autónomas']=='Total Nacional']

In [107]:
totedh=toted[toted['Sexo']=='Hombres']

In [108]:
totedm=toted[toted['Sexo']=='Mujeres']

In [109]:
natality=pd.read_csv("NatalityRate.csv", sep=';', decimal='.')

In [110]:
nattot=natality[natality['Comunidades y Ciudades Autónomas']=='Total Nacional']
nattot=nattot[nattot['Nacionalidad']=='Ambas nacionalidades']

In [391]:
nattot.dtypes

Comunidades y Ciudades Autónomas    object
Nacionalidad                        object
Periodo                              int64
Total                               object
dtype: object

In [111]:
growth=pd.read_csv("PopGrowth.csv", sep=';', decimal='.')

In [112]:
grtot=growth[growth['Comunidades y Ciudades Autónomas']=='Total Nacional']
grtot=grtot[grtot['Periodo']>2001]

In [124]:
extranjeros=pd.read_csv("ProporcionExtranjeros.csv", sep=';', decimal=',')

In [126]:
extranjeros=extranjeros[extranjeros['Periodo']<2022]

In [127]:
extot=extranjeros[extranjeros['Comunidades y Ciudades Autónomas']=='Total Nacional']
extot=extot[extot['Edad']=='Total edades']
extot=extot[extot['Sexo']=='Ambos sexos']

In [129]:
extotm=extranjeros[extranjeros['Comunidades y Ciudades Autónomas']=='Total Nacional']
extotm=extotm[extotm['Edad']=='Total edades']
extotm=extotm[extotm['Sexo']=='Mujeres']

In [130]:
extoth=extranjeros[extranjeros['Comunidades y Ciudades Autónomas']=='Total Nacional']
extoth=extoth[extoth['Edad']=='Total edades']
extoth=extoth[extoth['Sexo']=='Hombres']

In [141]:
extranjeros=pd.read_csv("ProporcionExtranjeros.csv", sep=';', decimal=',')

In [132]:
exfertil=extranjeros.copy()

In [133]:
exfertil=exfertil[exfertil['Comunidades y Ciudades Autónomas']=='Total Nacional']
exfertil=exfertil[exfertil['Sexo']=='Mujeres']
exfertil = exfertil[exfertil['Edad'] != 'Total edades']
exfertil['Edad']=exfertil.Edad.str.replace(' años', '').str.replace(' y más', '').str.replace(' año', '')
exfertil['Edad'] = exfertil['Edad'].astype(int)

In [134]:
exfertil = exfertil[(exfertil['Edad'] >= 18) & (exfertil['Edad'] <= 35)]

In [136]:
exfertil['Total'] = exfertil['Total'].str.replace(',', '.').astype(float)

In [140]:
exfertil=exfertil.groupby('Periodo')['Total'].mean().reset_index()

In [139]:
exfertil

     Comunidades y Ciudades Autónomas     Sexo  Edad  Periodo  Total
4684                   Total Nacional  Mujeres    18     2021   9.34
4685                   Total Nacional  Mujeres    18     2020   9.67
4686                   Total Nacional  Mujeres    18     2019   9.42
4687                   Total Nacional  Mujeres    18     2018   9.42
4688                   Total Nacional  Mujeres    18     2017   9.24
...                               ...      ...   ...      ...    ...
5056                   Total Nacional  Mujeres    35     2006  12.35
5057                   Total Nacional  Mujeres    35     2005  10.93
5058                   Total Nacional  Mujeres    35     2004   9.49
5059                   Total Nacional  Mujeres    35     2003   7.62
5060                   Total Nacional  Mujeres    35     2002   5.97

[360 rows x 5 columns]

In [142]:
masculinity=pd.read_csv("RatioMasculinidad.csv", sep=';', decimal=',')

In [286]:
masculinity = masculinity[(masculinity['Periodo'] >= 2002) & (masculinity['Periodo'] <= 2021)]

array(['Total Nacional', '01 Andalucía', '02 Aragón',
       '03 Asturias, Principado de', '04 Balears, Illes', '05 Canarias',
       '06 Cantabria', '07 Castilla y León', '08 Castilla - La Mancha',
       '09 Cataluña', '10 Comunitat Valenciana', '11 Extremadura',
       '12 Galicia', '13 Madrid, Comunidad de', '14 Murcia, Región de',
       '15 Navarra, Comunidad Foral de', '16 País Vasco', '17 Rioja, La',
       '18 Ceuta', '19 Melilla'], dtype=object)

In [149]:
totmasc=masculinity[masculinity['Comunidades y Ciudades Autónomas']=='Total Nacional']

In [197]:
married=pd.read_csv("Marriage.csv", sep=';', decimal=',')

In [198]:
married.Total=married.Total.str.replace('.', '')
married.dropna(inplace=True)

C:\Users\gqsal\AppData\Local\Temp\ipykernel_10108\3774494974.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  married.Total=married.Total.str.replace('.', '')

In [199]:
married.Total=married.Total.astype(int)

In [200]:
married['Periodo'] = married['Periodo'].str[:-3]
married['Periodo'] = married['Periodo'].astype(int)

In [178]:
married = married.groupby(['Comunidades y Ciudades Autónomas', 'Periodo'])['Total'].sum().reset_index()

In [180]:
married = married[(married['Periodo'] >= 2002) & (married['Periodo'] <= 2021)]

In [183]:
martot=married[married['Comunidades y Ciudades Autónomas']=='Total']

In [234]:
paro=pd.read_csv("Tasa de paro trimestral.csv", sep=';', decimal='.')

In [235]:
paro['Periodo'] = paro['Periodo'].str[:-2]
paro['Periodo'] = paro['Periodo'].astype(int)
paro = paro[(paro['Periodo'] >= 2002) & (paro['Periodo'] <= 2021)]

In [236]:
paro.head()

          Sexo Comunidades y Ciudades Autónomas   Edad  Periodo  Total
4  Ambos sexos                   Total Nacional  Total     2021  13,33
5  Ambos sexos                   Total Nacional  Total     2021  14,57
6  Ambos sexos                   Total Nacional  Total     2021  15,26
7  Ambos sexos                   Total Nacional  Total     2021  15,98
8  Ambos sexos                   Total Nacional  Total     2020  16,13

In [251]:
parotot=paro[paro['Comunidades y Ciudades Autónomas']=='Total Nacional']
parotot=parotot[parotot['Sexo']=='Ambos sexos']
parotot=parotot[parotot['Edad']=='Total']

In [252]:
parotot['Total'] = parotot['Total'].str.replace(',', '.').astype(float)

In [253]:
parotot = parotot.groupby(['Comunidades y Ciudades Autónomas', 'Periodo'])['Total'].mean().reset_index()

In [255]:
parotot

   Comunidades y Ciudades Autónomas  Periodo    Total
0                    Total Nacional     2002  11.4500
1                    Total Nacional     2003  11.4850
2                    Total Nacional     2004  10.9650
3                    Total Nacional     2005   9.1525
4                    Total Nacional     2006   8.4525
5                    Total Nacional     2007   8.2325
6                    Total Nacional     2008  11.2450
7                    Total Nacional     2009  17.8550
8                    Total Nacional     2010  19.8575
9                    Total Nacional     2011  21.3900
10                   Total Nacional     2012  24.7875
11                   Total Nacional     2013  26.0950
12                   Total Nacional     2014  24.4425
13                   Total Nacional     2015  22.0575
14                   Total Nacional     2016  19.6350
15                   Total Nacional     2017  17.2250
16                   Total Nacional     2018  15.2550
17                   Total Nacional     2019  14.1050
18                   Total Nacional     2020  15.5325
19                   Total Nacional     2021  14.7850

In [444]:
paro['Comunidades y Ciudades Autónomas'].unique()

array(['Total Nacional', '01 Andalucía', '02 Aragón',
       '03 Asturias, Principado de', '04 Balears, Illes', '05 Canarias',
       '06 Cantabria', '07 Castilla y León', '08 Castilla - La Mancha',
       '09 Cataluña', '10 Comunitat Valenciana', '11 Extremadura',
       '12 Galicia', '13 Madrid, Comunidad de', '14 Murcia, Región de',
       '15 Navarra, Comunidad Foral de', '16 País Vasco', '17 Rioja, La',
       '18 Ceuta', '19 Melilla'], dtype=object)

In [446]:
paro.columns

Index(['Sexo', 'Comunidades y Ciudades Autónomas', 'Edad', 'Periodo', 'Total'], dtype='object')

In [460]:
paradas=paro.copy()
paradas.dropna(inplace=True)
paradas=paradas[paradas['Sexo']=='Mujeres']
paradas=paradas[paradas['Edad']!='Total']
paradas=paradas[paradas['Edad']!='55 y más años']
paradas=paradas[paradas['Comunidades y Ciudades Autónomas']!='19 Melilla']
paradas=paradas[paradas['Comunidades y Ciudades Autónomas']!='18 Ceuta']
paradas=paradas[paradas['Total']!=".."]
paradas['Total'] = paradas['Total'].str.replace(',', '.').astype(float)
paradas = paradas.groupby(['Comunidades y Ciudades Autónomas', 'Periodo'])['Total'].mean().reset_index()

In [461]:
paradas.sample(20)

    Comunidades y Ciudades Autónomas  Periodo    Total
255          13 Madrid, Comunidad de     2017  28.7420
224                       12 Galicia     2006  19.6190
203                   11 Extremadura     2005  34.6165
327                     17 Rioja, La     2009  27.3050
60                 04 Balears, Illes     2002  16.1135
183          10 Comunitat Valenciana     2005  19.4380
79                 04 Balears, Illes     2021  27.1805
27                         02 Aragón     2009  23.1445
232                       12 Galicia     2014  41.1195
53        03 Asturias, Principado de     2015  32.7530
246          13 Madrid, Comunidad de     2008  18.8630
130               07 Castilla y León     2012  44.0740
333                     17 Rioja, La     2015  33.1095
245          13 Madrid, Comunidad de     2007  17.2210
155          08 Castilla - La Mancha     2017  43.1220
62                 04 Balears, Illes     2004  16.6255
22                         02 Aragón     2004  16.2060
307                    16 País Vasco     2009  23.8490
236                       12 Galicia     2018  31.4050
103                     06 Cantabria     2005  19.9925

In [270]:
parofertil=paro.copy()

In [271]:
parofertil.Edad.unique()

array(['Total', 'Menores de 25 años', '25 y más años', 'De 16 a 19 años',
       'De 20 a 24 años', 'De 25 a 54 años', '55 y más años'],
      dtype=object)

In [272]:
parofertil=parofertil[parofertil['Comunidades y Ciudades Autónomas']=='Total Nacional']
parofertil=parofertil[parofertil['Sexo']=='Mujeres']
parofertil=parofertil[parofertil['Edad']!='Total']
parofertil=parofertil[parofertil['Edad']!='55 y más años']
parofertil['Total'] = parofertil['Total'].str.replace(',', '.').astype(float)

In [273]:
parofertil.head()

,Sexo,Comunidades y Ciudades Autónomas,Edad,Periodo,Total
23608,Mujeres,Total Nacional,Menores de 25 años,2021,30.78
23609,Mujeres,Total Nacional,Menores de 25 años,2021,31.26
23610,Mujeres,Total Nacional,Menores de 25 años,2021,39.90
23611,Mujeres,Total Nacional,Menores de 25 años,2021,41.18
23612,Mujeres,Total Nacional,Menores de 25 años,2020,41.63

In [274]:
parofertil = parofertil.groupby(['Comunidades y Ciudades Autónomas', 'Periodo'])['Total'].mean().reset_index()

In [275]:
parofertil

   Comunidades y Ciudades Autónomas  Periodo    Total
0                    Total Nacional     2002  23.7370
1                    Total Nacional     2003  24.1375
2                    Total Nacional     2004  22.9490
3                    Total Nacional     2005  20.2465
4                    Total Nacional     2006  19.2165
5                    Total Nacional     2007  18.9225
6                    Total Nacional     2008  22.6520
7                    Total Nacional     2009  31.3465
8                    Total Nacional     2010  34.9180
9                    Total Nacional     2011  37.6790
10                   Total Nacional     2012  43.6905
11                   Total Nacional     2013  46.2800
12                   Total Nacional     2014  44.4300
13                   Total Nacional     2015  41.3930
14                   Total Nacional     2016  37.7800
15                   Total Nacional     2017  32.6720
16                   Total Nacional     2018  29.0750
17                   Total Nacional     2019  28.9165
18                   Total Nacional     2020  33.9050
19                   Total Nacional     2021  30.5425

In [276]:
nattot

   Comunidades y Ciudades Autónomas          Nacionalidad  Periodo  Total
0                    Total Nacional  Ambas nacionalidades     2021   7,12
1                    Total Nacional  Ambas nacionalidades     2020   7,19
2                    Total Nacional  Ambas nacionalidades     2019   7,62
3                    Total Nacional  Ambas nacionalidades     2018   7,94
4                    Total Nacional  Ambas nacionalidades     2017   8,41
5                    Total Nacional  Ambas nacionalidades     2016    8,8
6                    Total Nacional  Ambas nacionalidades     2015   9,02
7                    Total Nacional  Ambas nacionalidades     2014   9,17
8                    Total Nacional  Ambas nacionalidades     2013   9,11
9                    Total Nacional  Ambas nacionalidades     2012   9,69
10                   Total Nacional  Ambas nacionalidades     2011  10,07
11                   Total Nacional  Ambas nacionalidades     2010  10,42
12                   Total Nacional  Ambas nacionalidades     2009  10,65
13                   Total Nacional  Ambas nacionalidades     2008  11,28
14                   Total Nacional  Ambas nacionalidades     2007  10,86
15                   Total Nacional  Ambas nacionalidades     2006  10,85
16                   Total Nacional  Ambas nacionalidades     2005  10,65
17                   Total Nacional  Ambas nacionalidades     2004  10,57
18                   Total Nacional  Ambas nacionalidades     2003  10,44
19                   Total Nacional  Ambas nacionalidades     2002  10,08

In [346]:
total=nattot.copy()

In [347]:
total = total.loc[:, ['Periodo', 'Total']].rename(columns={'Total': 'Natality'})

In [348]:
grtot.dtypes

Comunidades y Ciudades Autónomas    object
Periodo                              int64
Total                               object
dtype: object

In [349]:
total = total.merge(totedh.loc[:, ['Periodo', 'Total']], on='Periodo', how='left')
total = total.rename(columns={'Total': 'Men_Age'})

total = total.merge(totedm.loc[:, ['Periodo', 'Total']], on='Periodo', how='left')
total = total.rename(columns={'Total': 'Women_Age'})

total = total.merge(grtot.loc[:, ['Periodo', 'Total']], on='Periodo', how='left')
total = total.rename(columns={'Total': 'Population_Growth'})

total = total.merge(extot.loc[:, ['Periodo', 'Total']], on='Periodo', how='left')
total = total.rename(columns={'Total': 'Foreigners_Ratio'})

total = total.merge(exfertil.loc[:, ['Periodo', 'Total']], on='Periodo', how='left')
total = total.rename(columns={'Total': 'Foreigner_Women'})

total = total.merge(totmasc.loc[:, ['Periodo', 'Total']], on='Periodo', how='left')
total = total.rename(columns={'Total': 'Masculinity_Ratio'})

total = total.merge(martot.loc[:, ['Periodo', 'Total']], on='Periodo', how='left')
total = total.rename(columns={'Total': 'Marriages'})

total = total.merge(parotot.loc[:, ['Periodo', 'Total']], on='Periodo', how='left')
total = total.rename(columns={'Total': 'Unemployment_Ratio'})

total = total.merge(parofertil.loc[:, ['Periodo', 'Total']], on='Periodo', how='left')
total = total.rename(columns={'Total': 'Unemployment_Women'})

In [350]:
total

,Periodo,Natality,Men_Age,Women_Age,Population_Growth,Foreigners_Ratio,Foreigner_Women,Masculinity_Ratio,Marriages,Unemployment_Ratio,Unemployment_Women
0,2021,"7,12",42.50,45.05,"0,72","11,33",18.558333,96.09,143515,14.7850,30.5425
1,2020,"7,19",42.28,44.83,"1,4","11,04",18.393333,96.13,87481,15.5325,33.9050
2,2019,"7,62",42.08,44.63,"8,4","10,31",17.078333,96.16,161389,14.1050,28.9165
3,2018,"7,94",41.88,44.43,"5,96","9,78",16.013333,96.24,162743,15.2550,29.0750
4,2017,"8,41",41.66,44.22,"2,82","9,5",15.295556,96.38,168989,17.2250,32.6720
5,2016,"8,8",41.41,43.97,"1,87","9,51",15.306667,96.51,171023,19.6350,37.7800
6,2015,"9,02",41.16,43.73,"-0,2","9,59",15.436111,96.63,165172,22.0575,41.3930
7,2014,"9,17",40.86,43.43,"-1,35","10,06",16.251667,96.80,159279,24.4425,44.4300
8,2013,"9,11",40.52,43.10,"-4,63","10,86",17.685556,97.08,153375,26.0950,46.2800
9,2012,"9,69",40.22,42.81,"-1,93","11,18",18.182222,97.39,165101,24.7875,43.6905
10,2011,"10,07",39.95,42.56,"3,23","11,38",18.380000,97.59,159798,21.3900,37.6790
11,2010,"10,42",39.68,42.31,"3,88","11,62",18.715556,97.78,167247,19.8575,34.9180
12,2009,"10,65",39.44,42.09,"5,33","11,65",18.657778,97.95,174062,17.8550,31.3465
13,2008,"11,28",39.30,41.96,"12,4","11,14",17.706111,97.89,194022,11.2450,22.6520
14,2007,"10,86",39.21,41.89,"19,55","9,94",15.581667,97.59,201579,8.2325,18.9225
15,2006,"10,85",39.09,41.79,"17,46","8,93",13.725556,97.44,203453,8.4525,19.2165
16,2005,"10,65",38.97,41.68,"16,34","7,92",12.060556,97.15,208146,9.1525,20.2465
17,2004,"10,57",38.83,41.55,"17,47","6,82",10.324444,96.77,216149,10.9650,22.9490
18,2003,"10,44",38.72,41.45,"17,05","5,65",8.466667,96.51,212300,11.4850,24.1375
19,2002,"10,08",38.62,41.34,"19,13","4,24",6.231111,96.16,211522,11.4500,23.7370

In [351]:
total['Economic_Crisis'] = total['Periodo'].apply(lambda x: 1 if (x >= 2009) and (x <= 2015) else 0)
total['Confination'] = total['Periodo'].apply(lambda x: 1 if x > 2019 else 0)
total['Facebook'] = total['Periodo'].apply(lambda x: 1 if x > 2009 else 0)
total['Instagram_Tinder'] = total['Periodo'].apply(lambda x: 1 if x > 2013 else 0)
total['Law_Change'] = total['Periodo'].apply(lambda x: 1 if x > 2011 else 0)

In [357]:
total.dtypes

Periodo                 int64
Natality              float64
Men_Age               float64
Women_Age             float64
Population_Growth     float64
Foreigners_Ratio      float64
Foreigner_Women       float64
Masculinity_Ratio     float64
Marriages               int32
Unemployment_Ratio    float64
Unemployment_Women    float64
Economic_Crisis         int64
Confination             int64
Facebook                int64
Instagram_Tinder        int64
Law_Change              int64
dtype: object

In [356]:
total['Natality'] = total['Natality'].str.replace(',', '.').astype(float)
total['Population_Growth'] = total['Population_Growth'].str.replace(',', '.').astype(float)
total['Foreigners_Ratio'] = total['Foreigners_Ratio'].str.replace(',', '.').astype(float)

In [361]:
matrix = total.corr()
matrix.style.background_gradient(cmap='coolwarm')

In [358]:
results = smf.ols("Natality ~ Periodo + Men_Age + Women_Age + Population_Growth + Foreigners_Ratio + Foreigner_Women + Masculinity_Ratio + Marriages + Unemployment_Ratio + Unemployment_Women + Economic_Crisis + Confination + Facebook + Instagram_Tinder + Law_Change", data=total).fit()

In [360]:
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               Natality   R-squared:                       0.998
Model:                            OLS   Adj. R-squared:                  0.991
Method:                 Least Squares   F-statistic:                     139.4
Date:                Wed, 15 Mar 2023   Prob (F-statistic):           0.000115
Time:                        17:06:06   Log-Likelihood:                 29.472
No. Observations:                  20   AIC:                            -26.94
Df Residuals:                       4   BIC:                            -11.01
Df Model:                          15
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept          -1285.4837   4103.242     -0.313      0.770   -1.27e+04    1.01e+04
Periodo                0.6871      2.371      0.290      0.786      -5.896       7.271
Men_Age                0.4180      8.736      0.048      0.964     -23.838      24.674
Women_Age             -4.3751     10.806     -0.405      0.706     -34.378      25.628
Population_Growth     -0.0606      0.073     -0.833      0.452      -0.262       0.141
Foreigners_Ratio      -0.6226      1.842     -0.338      0.752      -5.737       4.492
Foreigner_Women        0.1707      1.304      0.131      0.902      -3.450       3.791
Masculinity_Ratio      0.8896      2.340      0.380      0.723      -5.606       7.385
Marriages           9.277e-06   6.23e-06      1.489      0.211   -8.02e-06    2.66e-05
Unemployment_Ratio    -0.2638      0.324     -0.813      0.462      -1.165       0.637
Unemployment_Women     0.1267      0.122      1.036      0.359      -0.213       0.466
Economic_Crisis       -0.1738      0.321     -0.542      0.617      -1.064       0.716
Confination           -0.1377      0.595     -0.232      0.828      -1.788       1.513
Facebook               0.1198      0.233      0.515      0.634      -0.526       0.765
Instagram_Tinder       0.6458      0.277      2.334      0.080      -0.123       1.414
Law_Change            -0.1736      0.344     -0.505      0.640      -1.129       0.781
==============================================================================
Omnibus:                        2.517   Durbin-Watson:                   2.743
Prob(Omnibus):                  0.284   Jarque-Bera (JB):                1.136
Skew:                          -0.007   Prob(JB):                        0.567
Kurtosis:                       1.832   Cond. No.                     2.62e+10
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.62e+10. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [363]:
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor

vif = pd.DataFrame()
vif["VIF Factor"] = [variance_inflation_factor(total.values, i) for i in range(total.shape[1])]
vif["features"] = total.columns

print(vif)

      VIF Factor            features
0   4.036794e+07             Periodo
1   2.915694e+04            Natality
2   1.253099e+08             Men_Age
3   1.765511e+08           Women_Age
4   4.435491e+02   Population_Growth
5   2.637542e+05    Foreigners_Ratio
6   1.815771e+05     Foreigner_Women
7   2.232450e+07   Masculinity_Ratio
8   2.274114e+03           Marriages
9   1.165671e+04  Unemployment_Ratio
10  9.042788e+03  Unemployment_Women
11  3.206793e+01     Economic_Crisis
12  2.677452e+01         Confination
13  4.481259e+01            Facebook
14  9.363840e+01    Instagram_Tinder
15  6.068460e+01          Law_Change

In [388]:
results = smf.ols("Natality ~  Women_Age + Masculinity_Ratio + Marriages + Unemployment_Women + Economic_Crisis + Instagram_Tinder", data=total).fit()

In [389]:
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               Natality   R-squared:                       0.997
Model:                            OLS   Adj. R-squared:                  0.995
Method:                 Least Squares   F-statistic:                     673.5
Date:                Wed, 15 Mar 2023   Prob (F-statistic):           1.95e-15
Time:                        17:30:53   Log-Likelihood:                 24.285
No. Observations:                  20   AIC:                            -34.57
Df Residuals:                      13   BIC:                            -27.60
Df Model:                           6
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept            -49.0905      6.065     -8.095      0.000     -62.192     -35.989
Women_Age             -0.9349      0.062    -14.988      0.000      -1.070      -0.800
Masculinity_Ratio      1.0018      0.058     17.373      0.000       0.877       1.126
Marriages            5.08e-06   1.47e-06      3.460      0.004    1.91e-06    8.25e-06
Unemployment_Women     0.0190      0.006      2.958      0.011       0.005       0.033
Economic_Crisis       -0.4091      0.115     -3.558      0.004      -0.657      -0.161
Instagram_Tinder       0.7775      0.117      6.641      0.000       0.525       1.030
==============================================================================
Omnibus:                        5.150   Durbin-Watson:                   3.096
Prob(Omnibus):                  0.076   Jarque-Bera (JB):                2.849
Skew:                           0.759   Prob(JB):                        0.241
Kurtosis:                       4.057   Cond. No.                     5.38e+07
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.38e+07. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [469]:
def tabla(name):
    #Years
    ccaa = pd.DataFrame({'Periodo': range(2002, 2022)})

    #Natality Rate per 1000 people
    nat=natality[natality['Comunidades y Ciudades Autónomas']==name]
    nat=nat[nat['Nacionalidad']=='Ambas nacionalidades']
    nat['Total'] = nat['Total'].str.replace(',', '.').astype(float)
    ccaa = ccaa.merge(nat.loc[:, ['Periodo', 'Total']], on='Periodo', how='left')
    ccaa = ccaa.rename(columns={'Total': 'Natality'})

    #Mean Age of Women
    women=Edad[Edad['Comunidades y Ciudades Autónomas']==name]
    women=women[women['Sexo']=='Mujeres']
    ccaa = ccaa.merge(women.loc[:, ['Periodo', 'Total']], on='Periodo', how='left')
    ccaa = ccaa.rename(columns={'Total': 'Women_Age'})

    #Masculinity Ratio
    man=masculinity[masculinity['Comunidades y Ciudades Autónomas']==name]
    ccaa = ccaa.merge(man.loc[:, ['Periodo', 'Total']], on='Periodo', how='left')
    ccaa = ccaa.rename(columns={'Total': 'Masculinity_Ratio'})

    #Number of total Marriages
    happy=married[married['Comunidades y Ciudades Autónomas']==name]
    happy = happy.groupby(['Periodo'])['Total'].sum().reset_index()
    ccaa = ccaa.merge(happy.loc[:, ['Periodo', 'Total']], on='Periodo', how='left')
    ccaa = ccaa.rename(columns={'Total': 'Marriages'})

    # Unemployment Rate of Fertile Women
    unemployed=paradas[paradas['Comunidades y Ciudades Autónomas']==name]
    ccaa = ccaa.merge(unemployed.loc[:, ['Periodo', 'Total']], on='Periodo', how='left')
    ccaa = ccaa.rename(columns={'Total': 'Unemployment_Women'})

    #Boolean: Economic Crisis of 2008
    ccaa['Economic_Crisis'] = ccaa['Periodo'].apply(lambda x: 1 if (x >= 2009) and (x <= 2015) else 0)

    #Boolean: Arrival of trending social network
    ccaa['Instagram_Tinder'] = ccaa['Periodo'].apply(lambda x: 1 if x > 2012 else 0)

    return ccaa

In [466]:
natality['Comunidades y Ciudades Autónomas'].unique()

array(['Total Nacional', '01 Andalucía', '02 Aragón',
       '03 Asturias, Principado de', '04 Balears, Illes', '05 Canarias',
       '06 Cantabria', '07 Castilla y León', '08 Castilla - La Mancha',
       '09 Cataluña', '10 Comunitat Valenciana', '11 Extremadura',
       '12 Galicia', '13 Madrid, Comunidad de', '14 Murcia, Región de',
       '15 Navarra, Comunidad Foral de', '16 País Vasco', '17 Rioja, La',
       '18 Ceuta', '19 Melilla'], dtype=object)

In [472]:
andalucia=tabla('01 Andalucía')
aragon=tabla('02 Aragón')
asturias=tabla('03 Asturias, Principado de')
baleares=tabla('04 Balears, Illes')
cantabria=tabla('06 Cantabria')
leon=tabla('07 Castilla y León')
mancha=tabla('08 Castilla - La Mancha')
catalunya=tabla('09 Cataluña')
valencia=tabla('10 Comunitat Valenciana')
extremadura=tabla('11 Extremadura')
galicia=tabla('12 Galicia')
madrid=tabla('13 Madrid, Comunidad de')
murcia=tabla('14 Murcia, Región de')
navarra=tabla('15 Navarra, Comunidad Foral de')
euskadi=tabla('16 País Vasco')
rioja=tabla('17 Rioja, La')

In [475]:
navarra

,Periodo,Natality,Women_Age,Masculinity_Ratio,Marriages,Unemployment_Women,Economic_Crisis,Instagram_Tinder
0,2002,10.31,42.35,99.16,2828,16.638000,0,0
1,2003,10.80,42.36,99.23,2868,14.156000,0,0
2,2004,10.85,42.39,99.32,2920,12.984000,0,0
3,2005,10.46,42.50,99.46,2671,12.214500,0,0
4,2006,10.98,42.57,99.54,2727,13.114000,0,0
5,2007,10.82,42.60,99.58,2705,14.133500,0,0
6,2008,11.30,42.58,100.09,2681,19.160000,0,0
7,2009,10.86,42.58,100.23,2492,25.375000,1,0
8,2010,10.67,42.71,100.01,2285,24.640000,1,0
9,2011,10.57,42.89,99.73,2218,28.448500,1,0
10,2012,10.53,43.05,99.43,2232,34.771000,1,0
11,2013,9.54,43.28,98.99,2097,39.591000,1,1
12,2014,9.72,43.58,98.57,2301,32.554500,1,1
13,2015,9.44,43.80,98.36,2616,31.262500,1,1
14,2016,9.24,44.00,98.26,2383,28.903158,0,1
15,2017,8.96,44.16,98.03,2295,33.182500,0,1
16,2018,8.35,44.29,97.77,2050,20.644500,0,1
17,2019,8.23,44.39,97.62,2050,22.426500,0,1
18,2020,7.66,44.53,97.70,1279,17.713333,0,1
19,2021,7.78,44.70,97.64,1932,19.814211,0,1

In [477]:
def ols (var):
    return smf.ols("Natality ~  Women_Age + Masculinity_Ratio + Marriages + Unemployment_Women + Economic_Crisis + Instagram_Tinder", data=var).fit()

In [478]:
resultsand= ols(andalucia)
resultsara= ols(aragon)
resultsast = ols(asturias)
resultsbal = ols(baleares)
resultscan = ols(cantabria)
resultsleo = ols(leon)
resultsman = ols(mancha)
resultscat = ols(catalunya)
resultsval = ols(valencia)
resultsext = ols(extremadura)
resultsgal = ols(galicia)
resultsmad = ols(madrid)
resultsmur = ols(murcia)
resultsnav = ols(navarra)
resultseus = ols(euskadi)
resultsrio = ols(rioja)

In [502]:
resultsrio.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               Natality   R-squared:                       0.958
Model:                            OLS   Adj. R-squared:                  0.938
Method:                 Least Squares   F-statistic:                     49.09
Date:                Wed, 15 Mar 2023   Prob (F-statistic):           3.47e-08
Time:                        19:54:19   Log-Likelihood:              -0.073918
No. Observations:                  20   AIC:                             14.15
Df Residuals:                      13   BIC:                             21.12
Df Model:                           6
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept            -14.5696     21.992     -0.663      0.519     -62.080      32.941
Women_Age             -0.4777      0.261     -1.834      0.090      -1.041       0.085
Masculinity_Ratio      0.4379      0.126      3.469      0.004       0.165       0.711
Marriages              0.0005      0.001      0.729      0.479      -0.001       0.002
Unemployment_Women     0.0203      0.014      1.399      0.185      -0.011       0.052
Economic_Crisis        0.0021      0.301      0.007      0.994      -0.648       0.652
Instagram_Tinder       0.2912      0.366      0.796      0.440      -0.499       1.081
==============================================================================
Omnibus:                        2.726   Durbin-Watson:                   2.193
Prob(Omnibus):                  0.256   Jarque-Bera (JB):                1.444
Skew:                          -0.339   Prob(JB):                        0.486
Kurtosis:                       1.872   Cond. No.                     3.89e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.89e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""