In [63]:
import requests
import datetime
import pandas as pd

In [222]:
bornmonth=pd.read_csv("Movimiento Natural de la Población Nacimientos.csv", sep=';', decimal=',')

In [223]:
bornmonth.columns

Index(['Comunidades y Ciudades Autónomas', 'Periodo', 'Total'], dtype='object')

In [224]:
bornmonth.dtypes

Comunidades y Ciudades Autónomas    object
Periodo                             object
Total                               object
dtype: object

In [233]:
bornmonth['Total']=bornmonth['Total'].str.replace(".", "")

C:\Users\gqsal\AppData\Local\Temp\ipykernel_21180\4275167329.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  bornmonth['Total']=bornmonth['Total'].str.replace(".", "")

In [234]:
bornmonth.sample(20)

      Comunidades y Ciudades Autónomas  Periodo Total
3396                      06 Cantabria  2020M12   238
10416                         18 Ceuta  1999M12    76
2870                       05 Canarias  2017M10  1518
4773           08 Castilla - La Mancha  2000M03  1452
4853           08 Castilla - La Mancha  1993M07  1628
5730           10 Comunitat Valenciana  2014M06  3462
9802                      17 Rioja, La  2004M02   258
6939                        12 Galicia  2007M09  1799
11150                       19 Melilla  1985M10    84
9712                      17 Rioja, La  2011M08   296
3576                      06 Cantabria  2005M12   487
2705                 04 Balears, Illes  1984M07   715
5166                       09 Cataluña  2014M06  5907
11179                       19 Melilla  1983M05    22
9102                     16 País Vasco  2015M06  1512
8900    15 Navarra, Comunidad Foral de  1985M04   458
5525                       09 Cataluña  1984M07  5289
7178                        12 Galicia  1987M10  2187
6517                    11 Extremadura  1995M11   809
2774                 04 Balears, Illes  1978M10   879

In [235]:
bornmonth['Total']=bornmonth['Total'].astype(int)

In [211]:
bornmonth['Comunidades y Ciudades Autónomas'].unique()

array(['Total', '01 Andalucía', '02 Aragón', '03 Asturias, Principado de',
       '04 Balears, Illes', '05 Canarias', '06 Cantabria',
       '07 Castilla y León', '08 Castilla - La Mancha', '09 Cataluña',
       '10 Comunitat Valenciana', '11 Extremadura', '12 Galicia',
       '13 Madrid, Comunidad de', '14 Murcia, Región de',
       '15 Navarra, Comunidad Foral de', '16 País Vasco', '17 Rioja, La',
       '18 Ceuta', '19 Melilla', 'No residente'], dtype=object)

In [236]:
bornmonth['Periodo'] = bornmonth['Periodo'].str[-2:]

In [237]:
bornmonth.head(20)

   Comunidades y Ciudades Autónomas Periodo  Total
0                             Total      12  28574
1                             Total      11  28452
2                             Total      10  30135
3                             Total      09  30229
4                             Total      08  29640
5                             Total      07  30538
6                             Total      06  27546
7                             Total      05  27616
8                             Total      04  27315
9                             Total      03  29020
10                            Total      02  24413
11                            Total      01  23902
12                            Total      12  23490
13                            Total      11  26765
14                            Total      10  30296
15                            Total      09  30318
16                            Total      08  29647
17                            Total      07  30058
18                            Total      06  28255
19                            Total      05  28499

In [238]:
#bornmonth['Total'] = bornmonth['Total'].astype(int).astype(str)
#bornmonth['Total'] = bornmonth['Total'].str.replace('.000', '', regex=False)

In [239]:
(bornmonth[bornmonth['Comunidades y Ciudades Autónomas']=='19 Melilla'])["Total"].min()

22

In [240]:
bornmonth.sample(20)

      Comunidades y Ciudades Autónomas Periodo  Total
3498                      06 Cantabria      06    409
8685    15 Navarra, Comunidad Foral de      03    533
11518                     No residente      02     82
10773                       19 Melilla      03     97
4216                07 Castilla y León      08   1520
6377                    11 Extremadura      07    874
6581                    11 Extremadura      07   1100
6164           10 Comunitat Valenciana      04   5741
677                       01 Andalucía      07   7174
7642           13 Madrid, Comunidad de      02   3634
3646                      06 Cantabria      02    311
920                       01 Andalucía      04   6965
350                              Total      10  33828
10088                     17 Rioja, La      04    316
2411                 04 Balears, Illes      01   1065
5829           10 Comunitat Valenciana      03   4473
11231                       19 Melilla      01     83
8519    15 Navarra, Comunidad Foral de      01    462
7337           13 Madrid, Comunidad de      07   4798
6639                    11 Extremadura      09   1201

In [241]:
bornmonth.dtypes

Comunidades y Ciudades Autónomas    object
Periodo                             object
Total                                int32
dtype: object

In [242]:
bornmonth.sample(20)

      Comunidades y Ciudades Autónomas Periodo  Total
8496    15 Navarra, Comunidad Foral de      12    410
5946           10 Comunitat Valenciana      06   2870
4068                07 Castilla y León      12   1598
1110                      01 Andalucía      06  10358
3916                      06 Cantabria      08    813
1463                         02 Aragón      01    804
9613                      17 Rioja, La      11    203
4729           08 Castilla - La Mancha      11   1470
10578                         18 Ceuta      06     89
6431                    11 Extremadura      01    877
2931                       05 Canarias      09   1471
2194        03 Asturias, Principado de      02   1126
4921           08 Castilla - La Mancha      11   1468
8039              14 Murcia, Región de      01   1545
6134           10 Comunitat Valenciana      10   5101
324                              Total      12  30263
2420                 04 Balears, Illes      04   1062
10861                       19 Melilla      11    108
830                       01 Andalucía      10   6951
5569                       09 Cataluña      11   5919

In [243]:
totborn=bornmonth[bornmonth['Comunidades y Ciudades Autónomas']=="Total"]

In [244]:
totborn.drop('Comunidades y Ciudades Autónomas', axis=1, inplace=True)

C:\Users\gqsal\AppData\Local\Temp\ipykernel_21180\3060777255.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  totborn.drop('Comunidades y Ciudades Autónomas', axis=1, inplace=True)

In [245]:
totborn.sample()

    Periodo  Total
216      12  36738

In [246]:
totborn.sample()

    Periodo  Total
497      07  49741

In [254]:
grouped_df = totborn.groupby(totborn['Periodo'])['Periodo','Total'].sum()

C:\Users\gqsal\AppData\Local\Temp\ipykernel_21180\1869604183.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  grouped_df = totborn.groupby(totborn['Periodo'])['Periodo','Total'].sum()
C:\Users\gqsal\AppData\Local\Temp\ipykernel_21180\1869604183.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped_df = totborn.groupby(totborn['Periodo'])['Periodo','Total'].sum()

In [255]:
grouped_df.head(12)

           Total
Periodo
01       1772130
02       1615716
03       1790016
04       1749595
05       1838647
06       1744676
07       1833934
08       1799173
09       1819867
10       1822393
11       1717620
12       1735040

In [256]:
type(grouped_df)

pandas.core.frame.DataFrame

In [257]:
month_days = pd.Series({
    '01': 31,
    '02': 28.25,
    '03': 31,
    '04': 30,
    '05': 31,
    '06': 30,
    '07': 31,
    '08': 31,
    '09': 30,
    '10': 31,
    '11': 30,
    '12': 31
})

In [258]:
grouped_df['Total'] = grouped_df.apply(lambda x: x['Total'] / month_days[x.name], axis=1)

In [259]:
grouped_df

                Total
Periodo
01       57165.483871
02       57193.486726
03       57742.451613
04       58319.833333
05       59311.193548
06       58155.866667
07       59159.161290
08       58037.838710
09       60662.233333
10       58786.870968
11       57254.000000
12       55969.032258

In [260]:
monthrate=grouped_df.copy()

In [261]:
monthrate['Total'] = monthrate.apply(lambda x: x['Total'] / monthrate.Total.max(), axis=1)

In [262]:
monthrate

            Total
Periodo
01       0.942357
02       0.942819
03       0.951868
04       0.961386
05       0.977728
06       0.958683
07       0.975222
08       0.956738
09       1.000000
10       0.969085
11       0.943816
12       0.922634

In [263]:
ccaa=['01 Andalucía', '02 Aragón', '03 Asturias, Principado de',
       '04 Balears, Illes','06 Cantabria',
       '07 Castilla y León', '08 Castilla - La Mancha', '09 Cataluña',
       '10 Comunitat Valenciana', '11 Extremadura', '12 Galicia',
       '13 Madrid, Comunidad de', '14 Murcia, Región de',
       '15 Navarra, Comunidad Foral de', '16 País Vasco', '17 Rioja, La',
       ]

In [84]:
len(ccaa)

16

In [85]:
bornmonth.sample()

     Comunidades y Ciudades Autónomas Periodo  Total
4771          08 Castilla - La Mancha      05  1.508

In [264]:
ccaamonth=bornmonth.copy()

In [265]:
ccaamonth=bornmonth.groupby(["Periodo", "Comunidades y Ciudades Autónomas"])["Total"].sum().reset_index()

In [266]:
ccaamonth.head(30)

   Periodo Comunidades y Ciudades Autónomas    Total
0       01                     01 Andalucía   361299
1       01                        02 Aragón    45233
2       01       03 Asturias, Principado de    34304
3       01                04 Balears, Illes    39334
4       01                      05 Canarias    77302
5       01                     06 Cantabria    20386
6       01               07 Castilla y León    83368
7       01          08 Castilla - La Mancha    74614
8       01                      09 Cataluña   279596
9       01          10 Comunitat Valenciana   184454
10      01                   11 Extremadura    45386
11      01                       12 Galicia    96967
12      01          13 Madrid, Comunidad de   240539
13      01             14 Murcia, Región de    62522
14      01   15 Navarra, Comunidad Foral de    22859
15      01                    16 País Vasco    81269
16      01                     17 Rioja, La    10652
17      01                         18 Ceuta     4233
18      01                       19 Melilla     4287
19      01                     No residente     3568
20      01                            Total  1772130
21      02                     01 Andalucía   326770
22      02                        02 Aragón    41992
23      02       03 Asturias, Principado de    31605
24      02                04 Balears, Illes    35049
25      02                      05 Canarias    69433
26      02                     06 Cantabria    18648
27      02               07 Castilla y León    77436
28      02          08 Castilla - La Mancha    69525
29      02                      09 Cataluña   254364

In [280]:
prueba=ccaamonth.copy()

In [281]:
prueba=prueba.pivot_table(values="Total", index=prueba.Periodo, columns='Comunidades y Ciudades Autónomas')

In [282]:
prueba.sample()

Comunidades y Ciudades Autónomas,01 Andalucía,02 Aragón,"03 Asturias, Principado de","04 Balears, Illes",05 Canarias,06 Cantabria,07 Castilla y León,08 Castilla - La Mancha,09 Cataluña,10 Comunitat Valenciana,...,12 Galicia,"13 Madrid, Comunidad de","14 Murcia, Región de","15 Navarra, Comunidad Foral de",16 País Vasco,"17 Rioja, La",18 Ceuta,19 Melilla,No residente,Total
Periodo,,,,,,,,,,,,,,,,,,,,,
04,344421,45537,34831,36665,71917,20330,88842,77397,269975,175637,...,96220,253299,58681,24183,84043,11168,4042,3991,3200,1749595

In [283]:
prueba.drop(["05 Canarias", '18 Ceuta', '19 Melilla', 'No residente', 'Total'], axis=1, inplace=True)

In [284]:
prueba.sample()

Comunidades y Ciudades Autónomas,01 Andalucía,02 Aragón,"03 Asturias, Principado de","04 Balears, Illes",06 Cantabria,07 Castilla y León,08 Castilla - La Mancha,09 Cataluña,10 Comunitat Valenciana,11 Extremadura,12 Galicia,"13 Madrid, Comunidad de","14 Murcia, Región de","15 Navarra, Comunidad Foral de",16 País Vasco,"17 Rioja, La"
Periodo,,,,,,,,,,,,,,,,
12,356907,44098,33606,38622,20199,81041,72521,270362,181982,43936,93948,236865,62414,21523,77732,10648

In [285]:
prueba

Comunidades y Ciudades Autónomas,01 Andalucía,02 Aragón,"03 Asturias, Principado de","04 Balears, Illes",06 Cantabria,07 Castilla y León,08 Castilla - La Mancha,09 Cataluña,10 Comunitat Valenciana,11 Extremadura,12 Galicia,"13 Madrid, Comunidad de","14 Murcia, Región de","15 Navarra, Comunidad Foral de",16 País Vasco,"17 Rioja, La"
Periodo,,,,,,,,,,,,,,,,
01,361299,45233,34304,39334,20386,83368,74614,279596,184454,45386,96967,240539,62522,22859,81269,10652
02,326770,41992,31605,35049,18648,77436,69525,254364,167590,41459,86843,221538,56265,21071,75489,10053
03,358154,46275,35339,38085,20760,88573,77776,280445,183832,45481,96779,250636,61123,24062,84900,11163
04,344421,45537,34831,36665,20330,88842,77397,269975,175637,45274,96220,253299,58681,24183,84043,11168
05,357472,48572,36676,37419,21604,94649,81749,288178,181015,48250,100557,270536,59228,25177,90098,11852
06,341884,46356,33936,36435,20486,89825,79408,271027,173171,45941,93686,254424,57442,24077,82122,11318
07,367884,48792,35599,39276,21435,91729,82359,286026,185476,47595,97665,259171,62510,24263,84046,11357
08,366530,46873,35049,39834,21542,88028,79666,276996,185107,45957,97012,246238,62577,23787,82061,11087
09,375121,46515,34278,40792,20930,86355,78356,283089,188663,45981,98867,246998,65529,23284,81308,10853
10,374852,46132,34794,41237,21011,85609,77062,282772,190167,45617,99066,248390,65605,23050,81475,10810
11,353507,43901,32981,38892,19887,79320,72002,267759,178729,43096,93382,233348,61983,21675,77160,10406
12,356907,44098,33606,38622,20199,81041,72521,270362,181982,43936,93948,236865,62414,21523,77732,10648

In [288]:
for i in prueba:
    prueba[i] = prueba.apply(lambda x: x[i] / month_days[x.name], axis=1)

In [290]:
prueba

Comunidades y Ciudades Autónomas,01 Andalucía,02 Aragón,"03 Asturias, Principado de","04 Balears, Illes",06 Cantabria,07 Castilla y León,08 Castilla - La Mancha,09 Cataluña,10 Comunitat Valenciana,11 Extremadura,12 Galicia,"13 Madrid, Comunidad de","14 Murcia, Región de","15 Navarra, Comunidad Foral de",16 País Vasco,"17 Rioja, La"
Periodo,,,,,,,,,,,,,,,,
01,11654.806452,1459.129032,1106.580645,1268.838710,657.612903,2689.290323,2406.903226,9019.225806,5950.129032,1464.064516,3127.967742,7759.322581,2016.838710,737.387097,2621.580645,343.612903
02,11567.079646,1486.442478,1118.761062,1240.672566,660.106195,2741.097345,2461.061947,9004.035398,5932.389381,1467.575221,3074.088496,7842.053097,1991.681416,745.876106,2672.176991,355.858407
03,11553.354839,1492.741935,1139.967742,1228.548387,669.677419,2857.193548,2508.903226,9046.612903,5930.064516,1467.129032,3121.903226,8085.032258,1971.709677,776.193548,2738.709677,360.096774
04,11480.700000,1517.900000,1161.033333,1222.166667,677.666667,2961.400000,2579.900000,8999.166667,5854.566667,1509.133333,3207.333333,8443.300000,1956.033333,806.100000,2801.433333,372.266667
05,11531.354839,1566.838710,1183.096774,1207.064516,696.903226,3053.193548,2637.064516,9296.064516,5839.193548,1556.451613,3243.774194,8726.967742,1910.580645,812.161290,2906.387097,382.322581
06,11396.133333,1545.200000,1131.200000,1214.500000,682.866667,2994.166667,2646.933333,9034.233333,5772.366667,1531.366667,3122.866667,8480.800000,1914.733333,802.566667,2737.400000,377.266667
07,11867.225806,1573.935484,1148.354839,1266.967742,691.451613,2959.000000,2656.741935,9226.645161,5983.096774,1535.322581,3150.483871,8360.354839,2016.451613,782.677419,2711.161290,366.354839
08,11823.548387,1512.032258,1130.612903,1284.967742,694.903226,2839.612903,2569.870968,8935.354839,5971.193548,1482.483871,3129.419355,7943.161290,2018.612903,767.322581,2647.129032,357.645161
09,12504.033333,1550.500000,1142.600000,1359.733333,697.666667,2878.500000,2611.866667,9436.300000,6288.766667,1532.700000,3295.566667,8233.266667,2184.300000,776.133333,2710.266667,361.766667
10,12092.000000,1488.129032,1122.387097,1330.225806,677.774194,2761.580645,2485.870968,9121.677419,6134.419355,1471.516129,3195.677419,8012.580645,2116.290323,743.548387,2628.225806,348.709677
11,11783.566667,1463.366667,1099.366667,1296.400000,662.900000,2644.000000,2400.066667,8925.300000,5957.633333,1436.533333,3112.733333,7778.266667,2066.100000,722.500000,2572.000000,346.866667
12,11513.129032,1422.516129,1084.064516,1245.870968,651.580645,2614.225806,2339.387097,8721.354839,5870.387097,1417.290323,3030.580645,7640.806452,2013.354839,694.290323,2507.483871,343.483871

In [292]:
final=prueba.copy()

In [294]:
final

Comunidades y Ciudades Autónomas,01 Andalucía,02 Aragón,"03 Asturias, Principado de","04 Balears, Illes",06 Cantabria,07 Castilla y León,08 Castilla - La Mancha,09 Cataluña,10 Comunitat Valenciana,11 Extremadura,12 Galicia,"13 Madrid, Comunidad de","14 Murcia, Región de","15 Navarra, Comunidad Foral de",16 País Vasco,"17 Rioja, La"
Periodo,,,,,,,,,,,,,,,,
01,11654.806452,1459.129032,1106.580645,1268.838710,657.612903,2689.290323,2406.903226,9019.225806,5950.129032,1464.064516,3127.967742,7759.322581,2016.838710,737.387097,2621.580645,343.612903
02,11567.079646,1486.442478,1118.761062,1240.672566,660.106195,2741.097345,2461.061947,9004.035398,5932.389381,1467.575221,3074.088496,7842.053097,1991.681416,745.876106,2672.176991,355.858407
03,11553.354839,1492.741935,1139.967742,1228.548387,669.677419,2857.193548,2508.903226,9046.612903,5930.064516,1467.129032,3121.903226,8085.032258,1971.709677,776.193548,2738.709677,360.096774
04,11480.700000,1517.900000,1161.033333,1222.166667,677.666667,2961.400000,2579.900000,8999.166667,5854.566667,1509.133333,3207.333333,8443.300000,1956.033333,806.100000,2801.433333,372.266667
05,11531.354839,1566.838710,1183.096774,1207.064516,696.903226,3053.193548,2637.064516,9296.064516,5839.193548,1556.451613,3243.774194,8726.967742,1910.580645,812.161290,2906.387097,382.322581
06,11396.133333,1545.200000,1131.200000,1214.500000,682.866667,2994.166667,2646.933333,9034.233333,5772.366667,1531.366667,3122.866667,8480.800000,1914.733333,802.566667,2737.400000,377.266667
07,11867.225806,1573.935484,1148.354839,1266.967742,691.451613,2959.000000,2656.741935,9226.645161,5983.096774,1535.322581,3150.483871,8360.354839,2016.451613,782.677419,2711.161290,366.354839
08,11823.548387,1512.032258,1130.612903,1284.967742,694.903226,2839.612903,2569.870968,8935.354839,5971.193548,1482.483871,3129.419355,7943.161290,2018.612903,767.322581,2647.129032,357.645161
09,12504.033333,1550.500000,1142.600000,1359.733333,697.666667,2878.500000,2611.866667,9436.300000,6288.766667,1532.700000,3295.566667,8233.266667,2184.300000,776.133333,2710.266667,361.766667
10,12092.000000,1488.129032,1122.387097,1330.225806,677.774194,2761.580645,2485.870968,9121.677419,6134.419355,1471.516129,3195.677419,8012.580645,2116.290323,743.548387,2628.225806,348.709677
11,11783.566667,1463.366667,1099.366667,1296.400000,662.900000,2644.000000,2400.066667,8925.300000,5957.633333,1436.533333,3112.733333,7778.266667,2066.100000,722.500000,2572.000000,346.866667
12,11513.129032,1422.516129,1084.064516,1245.870968,651.580645,2614.225806,2339.387097,8721.354839,5870.387097,1417.290323,3030.580645,7640.806452,2013.354839,694.290323,2507.483871,343.483871

In [298]:
for i in final: 
   final[i] = final.apply(lambda x: x[i] / final[i].max(), axis=1)

In [299]:
final

Comunidades y Ciudades Autónomas,01 Andalucía,02 Aragón,"03 Asturias, Principado de","04 Balears, Illes",06 Cantabria,07 Castilla y León,08 Castilla - La Mancha,09 Cataluña,10 Comunitat Valenciana,11 Extremadura,12 Galicia,"13 Madrid, Comunidad de","14 Murcia, Región de","15 Navarra, Comunidad Foral de",16 País Vasco,"17 Rioja, La"
Periodo,,,,,,,,,,,,,,,,
01,0.932084,0.927058,0.935326,0.933153,0.942589,0.880812,0.905960,0.955801,0.946152,0.940642,0.949144,0.889120,0.923334,0.907932,0.902007,0.898751
02,0.925068,0.944411,0.945621,0.912438,0.946163,0.897780,0.926346,0.954191,0.943331,0.942898,0.932795,0.898600,0.911817,0.918384,0.919415,0.930781
03,0.923970,0.948414,0.963546,0.903522,0.959882,0.935805,0.944353,0.958703,0.942961,0.942611,0.947304,0.926442,0.902673,0.955714,0.942307,0.941866
04,0.918160,0.964398,0.981351,0.898828,0.971333,0.969935,0.971077,0.953675,0.930956,0.969599,0.973227,0.967495,0.895497,0.992537,0.963889,0.973698
05,0.922211,0.995491,1.000000,0.887722,0.998906,1.000000,0.992593,0.985139,0.928512,1.000000,0.984284,1.000000,0.874688,1.000000,1.000000,1.000000
06,0.911397,0.981743,0.956135,0.893190,0.978786,0.980667,0.996308,0.957391,0.917885,0.983883,0.947596,0.971792,0.876589,0.988186,0.941857,0.986776
07,0.949072,1.000000,0.970635,0.931777,0.991092,0.969149,1.000000,0.977782,0.951394,0.986425,0.955976,0.957991,0.923157,0.963697,0.932829,0.958235
08,0.945579,0.960670,0.955639,0.945015,0.996039,0.930047,0.967302,0.946913,0.949502,0.952477,0.949585,0.910186,0.924146,0.944791,0.910797,0.935454
09,1.000000,0.985110,0.965771,1.000000,1.000000,0.942783,0.983109,1.000000,1.000000,0.984740,1.000000,0.943428,1.000000,0.955639,0.932521,0.946234
10,0.967048,0.945483,0.948686,0.978299,0.971487,0.904489,0.935684,0.966658,0.975457,0.945430,0.969690,0.918140,0.968864,0.915518,0.904293,0.912082
11,0.942381,0.929750,0.929228,0.953422,0.950167,0.865979,0.903387,0.945847,0.947345,0.922954,0.944521,0.891291,0.945887,0.889602,0.884948,0.907262
12,0.920753,0.903796,0.916294,0.916261,0.933943,0.856227,0.880547,0.924235,0.933472,0.910591,0.919593,0.875540,0.921739,0.854868,0.862749,0.898414

In [300]:
superfinal=final.copy()

In [301]:
superfinal["Total"]=monthrate["Total"]

In [302]:
superfinal

Comunidades y Ciudades Autónomas,01 Andalucía,02 Aragón,"03 Asturias, Principado de","04 Balears, Illes",06 Cantabria,07 Castilla y León,08 Castilla - La Mancha,09 Cataluña,10 Comunitat Valenciana,11 Extremadura,12 Galicia,"13 Madrid, Comunidad de","14 Murcia, Región de","15 Navarra, Comunidad Foral de",16 País Vasco,"17 Rioja, La",Total
Periodo,,,,,,,,,,,,,,,,,
01,0.932084,0.927058,0.935326,0.933153,0.942589,0.880812,0.905960,0.955801,0.946152,0.940642,0.949144,0.889120,0.923334,0.907932,0.902007,0.898751,0.942357
02,0.925068,0.944411,0.945621,0.912438,0.946163,0.897780,0.926346,0.954191,0.943331,0.942898,0.932795,0.898600,0.911817,0.918384,0.919415,0.930781,0.942819
03,0.923970,0.948414,0.963546,0.903522,0.959882,0.935805,0.944353,0.958703,0.942961,0.942611,0.947304,0.926442,0.902673,0.955714,0.942307,0.941866,0.951868
04,0.918160,0.964398,0.981351,0.898828,0.971333,0.969935,0.971077,0.953675,0.930956,0.969599,0.973227,0.967495,0.895497,0.992537,0.963889,0.973698,0.961386
05,0.922211,0.995491,1.000000,0.887722,0.998906,1.000000,0.992593,0.985139,0.928512,1.000000,0.984284,1.000000,0.874688,1.000000,1.000000,1.000000,0.977728
06,0.911397,0.981743,0.956135,0.893190,0.978786,0.980667,0.996308,0.957391,0.917885,0.983883,0.947596,0.971792,0.876589,0.988186,0.941857,0.986776,0.958683
07,0.949072,1.000000,0.970635,0.931777,0.991092,0.969149,1.000000,0.977782,0.951394,0.986425,0.955976,0.957991,0.923157,0.963697,0.932829,0.958235,0.975222
08,0.945579,0.960670,0.955639,0.945015,0.996039,0.930047,0.967302,0.946913,0.949502,0.952477,0.949585,0.910186,0.924146,0.944791,0.910797,0.935454,0.956738
09,1.000000,0.985110,0.965771,1.000000,1.000000,0.942783,0.983109,1.000000,1.000000,0.984740,1.000000,0.943428,1.000000,0.955639,0.932521,0.946234,1.000000
10,0.967048,0.945483,0.948686,0.978299,0.971487,0.904489,0.935684,0.966658,0.975457,0.945430,0.969690,0.918140,0.968864,0.915518,0.904293,0.912082,0.969085
11,0.942381,0.929750,0.929228,0.953422,0.950167,0.865979,0.903387,0.945847,0.947345,0.922954,0.944521,0.891291,0.945887,0.889602,0.884948,0.907262,0.943816
12,0.920753,0.903796,0.916294,0.916261,0.933943,0.856227,0.880547,0.924235,0.933472,0.910591,0.919593,0.875540,0.921739,0.854868,0.862749,0.898414,0.922634

In [303]:
for i in superfinal: 
   superfinal[i] = superfinal.apply(lambda x: x[i] - x["Total"], axis=1)

In [304]:
superfinal

Comunidades y Ciudades Autónomas,01 Andalucía,02 Aragón,"03 Asturias, Principado de","04 Balears, Illes",06 Cantabria,07 Castilla y León,08 Castilla - La Mancha,09 Cataluña,10 Comunitat Valenciana,11 Extremadura,12 Galicia,"13 Madrid, Comunidad de","14 Murcia, Región de","15 Navarra, Comunidad Foral de",16 País Vasco,"17 Rioja, La",Total
Periodo,,,,,,,,,,,,,,,,,
01,-0.010273,-0.015299,-0.007032,-0.009204,0.000232,-0.061545,-0.036397,0.013444,0.003795,-0.001715,0.006787,-0.053237,-0.019023,-0.034425,-0.040350,-0.043606,0.0
02,-0.017751,0.001593,0.002802,-0.030381,0.003344,-0.045038,-0.016473,0.011373,0.000512,0.000079,-0.010024,-0.044219,-0.031002,-0.024434,-0.023403,-0.012038,0.0
03,-0.027898,-0.003455,0.011677,-0.048347,0.008013,-0.016063,-0.007515,0.006835,-0.008907,-0.009257,-0.004564,-0.025426,-0.049195,0.003845,-0.009561,-0.010002,0.0
04,-0.043226,0.003012,0.019965,-0.062558,0.009947,0.008549,0.009690,-0.007711,-0.030430,0.008212,0.011840,0.006109,-0.065890,0.031151,0.002502,0.012312,0.0
05,-0.055518,0.017763,0.022272,-0.090007,0.021177,0.022272,0.014865,0.007410,-0.049217,0.022272,0.006556,0.022272,-0.103041,0.022272,0.022272,0.022272,0.0
06,-0.047287,0.023060,-0.002548,-0.065493,0.020103,0.021984,0.037625,-0.001292,-0.040798,0.025200,-0.011087,0.013109,-0.082094,0.029503,-0.016827,0.028093,0.0
07,-0.026150,0.024778,-0.004588,-0.043446,0.015869,-0.006073,0.024778,0.002560,-0.023828,0.011203,-0.019246,-0.017231,-0.052065,-0.011525,-0.042394,-0.016987,0.0
08,-0.011159,0.003932,-0.001099,-0.011723,0.039301,-0.026691,0.010564,-0.009825,-0.007236,-0.004261,-0.007153,-0.046552,-0.032591,-0.011947,-0.045940,-0.021284,0.0
09,0.000000,-0.014890,-0.034229,0.000000,0.000000,-0.057217,-0.016891,0.000000,0.000000,-0.015260,0.000000,-0.056572,0.000000,-0.044361,-0.067479,-0.053766,0.0
10,-0.002037,-0.023602,-0.020399,0.009214,0.002402,-0.064596,-0.033401,-0.002427,0.006371,-0.023655,0.000605,-0.050945,-0.000221,-0.053567,-0.064792,-0.057003,0.0
11,-0.001435,-0.014066,-0.014588,0.009606,0.006351,-0.077838,-0.040429,0.002031,0.003529,-0.020862,0.000705,-0.052525,0.002070,-0.054215,-0.058869,-0.036554,0.0
12,-0.001881,-0.018838,-0.006340,-0.006373,0.011309,-0.066407,-0.042087,0.001601,0.010838,-0.012043,-0.003041,-0.047094,-0.000895,-0.067766,-0.059884,-0.024220,0.0

In [306]:
superfinal.describe()

Comunidades y Ciudades Autónomas,01 Andalucía,02 Aragón,"03 Asturias, Principado de","04 Balears, Illes",06 Cantabria,07 Castilla y León,08 Castilla - La Mancha,09 Cataluña,10 Comunitat Valenciana,11 Extremadura,12 Galicia,"13 Madrid, Comunidad de","14 Murcia, Región de","15 Navarra, Comunidad Foral de",16 País Vasco,"17 Rioja, La",Total
count,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.0
mean,-0.020385,-0.001334,-0.002842,-0.029059,0.011504,-0.030722,-0.007973,0.002000,-0.011281,-0.001674,-0.002385,-0.029359,-0.036162,-0.017956,-0.033727,-0.017732,0.0
std,0.019581,0.016636,0.016127,0.032695,0.011319,0.036263,0.027224,0.007010,0.019932,0.015868,0.008722,0.028658,0.035068,0.034257,0.028783,0.027985,0.0
min,-0.055518,-0.023602,-0.034229,-0.090007,0.000000,-0.077838,-0.042087,-0.009825,-0.049217,-0.023655,-0.019246,-0.056572,-0.103041,-0.067766,-0.067479,-0.057003,0.0
25%,-0.031730,-0.014992,-0.008921,-0.051899,0.003109,-0.062308,-0.034150,-0.001576,-0.025478,-0.012847,-0.007871,-0.051340,-0.055521,-0.046662,-0.059123,-0.038317,0.0
50%,-0.014455,-0.000931,-0.003568,-0.021052,0.008980,-0.035865,-0.011994,0.001816,-0.003618,-0.002988,-0.001520,-0.045385,-0.031797,-0.018191,-0.041372,-0.019136,0.0
75%,-0.001998,0.007390,0.005021,-0.004779,0.016928,-0.002418,0.011639,0.006979,0.003596,0.008960,0.002168,-0.011396,-0.000726,0.008452,-0.015010,-0.004423,0.0
max,0.000000,0.024778,0.022272,0.009606,0.039301,0.022272,0.037625,0.013444,0.010838,0.025200,0.011840,0.022272,0.002070,0.031151,0.022272,0.028093,0.0

In [307]:
marriage=pd.read_csv("Marriage.csv", sep=';', decimal=',')

In [309]:
marriage['Total']=marriage['Total'].str.replace(".", "")

C:\Users\gqsal\AppData\Local\Temp\ipykernel_21180\1582035451.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  marriage['Total']=marriage['Total'].str.replace(".", "")

In [318]:
df1 = marriage[marriage.isna().any(axis=1)]
df1

      Comunidades y Ciudades Autónomas  Periodo Total
10172                         18 Ceuta  2020M04   NaN
10736                       19 Melilla  2020M04   NaN

In [320]:
marriage.dropna(inplace=True)

In [321]:
marriage['Total']=marriage['Total'].astype(int)

In [322]:
marriage['Periodo'] = marriage['Periodo'].str[-2:]

In [323]:
totmar=marriage[marriage['Comunidades y Ciudades Autónomas']=="Total"]

In [324]:
totmar.drop('Comunidades y Ciudades Autónomas', axis=1, inplace=True)

C:\Users\gqsal\AppData\Local\Temp\ipykernel_21180\74481156.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  totmar.drop('Comunidades y Ciudades Autónomas', axis=1, inplace=True)

In [325]:
grouped_mar = totmar.groupby(totmar['Periodo'])['Periodo','Total'].sum()

C:\Users\gqsal\AppData\Local\Temp\ipykernel_21180\2422675130.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  grouped_mar = totmar.groupby(totmar['Periodo'])['Periodo','Total'].sum()
C:\Users\gqsal\AppData\Local\Temp\ipykernel_21180\2422675130.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped_mar = totmar.groupby(totmar['Periodo'])['Periodo','Total'].sum()

In [326]:
grouped_mar['Total'] = grouped_mar.apply(lambda x: x['Total'] / month_days[x.name], axis=1)

In [327]:
grouped_mar

                Total
Periodo
01       11556.258065
02       13096.141593
03       19194.064516
04       22761.733333
05       27628.903226
06       34264.666667
07       36660.806452
08       30912.258065
09       42062.166667
10       32157.419355
11       17107.266667
12       19024.129032

In [328]:
marrate=grouped_mar.copy()

In [329]:
marrate['Total'] = marrate.apply(lambda x: x['Total'] / marrate.Total.max(), axis=1)

In [330]:
marrate

            Total
Periodo
01       0.274742
02       0.311352
03       0.456326
04       0.541145
05       0.656859
06       0.814620
07       0.871586
08       0.734918
09       1.000000
10       0.764521
11       0.406714
12       0.452286

In [331]:
marccaa=marriage.groupby(["Periodo", "Comunidades y Ciudades Autónomas"])["Total"].sum().reset_index()

In [332]:
marccaa

    Periodo Comunidades y Ciudades Autónomas   Total
0        01                     01 Andalucía   70254
1        01                        02 Aragón    7141
2        01       03 Asturias, Principado de    9792
3        01                04 Balears, Illes   10064
4        01                      05 Canarias   18293
..      ...                              ...     ...
247      12                     17 Rioja, La    2530
248      12                         18 Ceuta    1267
249      12                       19 Melilla    1366
250      12                     No residente    4383
251      12                            Total  589748

[252 rows x 3 columns]

In [334]:
marccaa=marccaa.pivot_table(values="Total", index=marccaa.Periodo, columns='Comunidades y Ciudades Autónomas')

In [335]:
marccaa

Comunidades y Ciudades Autónomas,01 Andalucía,02 Aragón,"03 Asturias, Principado de","04 Balears, Illes",05 Canarias,06 Cantabria,07 Castilla y León,08 Castilla - La Mancha,09 Cataluña,10 Comunitat Valenciana,...,12 Galicia,"13 Madrid, Comunidad de","14 Murcia, Región de","15 Navarra, Comunidad Foral de",16 País Vasco,"17 Rioja, La",18 Ceuta,19 Melilla,No residente,Total
Periodo,,,,,,,,,,,,,,,,,,,,,
01,70254,7141,9792,10064,18293,4269,16128,11189,55152,34798,...,32907,42244,12016,3582,14887,1685,1004,998,2661,358244
02,71536,7937,10003,11006,20218,4472,15253,11537,56227,40859,...,26242,49558,11159,4042,15792,1773,1079,1020,1799,369966
03,121559,14970,15138,14258,25357,7513,24222,21763,88840,66074,...,35201,80067,21418,7336,27480,3416,1376,1342,2769,595016
04,133137,19033,16235,15358,26824,8014,29926,28357,112534,78478,...,34883,90369,22109,8065,30178,4184,1391,1321,4421,682852
05,140141,26496,22282,18524,26612,12116,43677,39976,143400,97560,...,45883,122893,24894,11585,46496,6079,1187,1382,6407,856496
06,184155,31453,23830,18469,33674,12401,50080,47208,165002,108400,...,48412,166445,28441,16014,54540,7299,1738,1665,7947,1027940
07,184240,31982,27365,18600,41325,14426,64318,47636,199352,106197,...,70748,171914,20250,15705,74062,8367,2120,1888,11113,1136485
08,196239,27435,27394,15203,34755,14906,72894,56299,111321,80438,...,91537,93253,15545,15707,38029,7630,1773,1932,12962,958280
09,230236,43080,30641,24789,41735,18251,67459,53399,201646,128073,...,67444,188402,33529,17606,64315,9181,2056,1831,10651,1261865
10,193460,28271,24589,21520,38745,14066,47045,37831,152358,114986,...,47989,141572,35247,12635,49599,5998,1610,1705,5939,996880
11,88789,13394,13791,16889,27181,6751,20274,19035,81949,61777,...,27433,72372,16744,6108,23977,2793,1121,1195,2323,513218
12,134715,11244,15063,15926,31367,6416,24795,20799,84421,61644,...,40850,66620,21827,5521,21984,2530,1267,1366,4383,589748

In [336]:
marccaa.drop(["05 Canarias", '18 Ceuta', '19 Melilla', 'No residente', 'Total'], axis=1, inplace=True)

In [337]:
for i in marccaa:
    marccaa[i] = marccaa.apply(lambda x: x[i] / month_days[x.name], axis=1)

In [338]:
final2=marccaa.copy()

In [339]:
for i in final2: 
   final2[i] = final2.apply(lambda x: x[i] / final2[i].max(), axis=1)

In [340]:
final2

Comunidades y Ciudades Autónomas,01 Andalucía,02 Aragón,"03 Asturias, Principado de","04 Balears, Illes",06 Cantabria,07 Castilla y León,08 Castilla - La Mancha,09 Cataluña,10 Comunitat Valenciana,11 Extremadura,12 Galicia,"13 Madrid, Comunidad de","14 Murcia, Región de","15 Navarra, Comunidad Foral de",16 País Vasco,"17 Rioja, La"
Periodo,,,,,,,,,,,,,,,,
01,0.295296,0.160414,0.309263,0.392890,0.226360,0.221253,0.198742,0.264686,0.262940,0.213349,0.359494,0.216990,0.340908,0.196890,0.201007,0.177611
02,0.329955,0.195652,0.346681,0.471491,0.260206,0.229618,0.224872,0.296113,0.338792,0.215628,0.314589,0.279339,0.347413,0.243803,0.233983,0.205079
03,0.510944,0.336284,0.478107,0.556620,0.398370,0.332291,0.386561,0.426362,0.499267,0.346658,0.384555,0.411271,0.607655,0.403235,0.371040,0.360070
04,0.578263,0.441806,0.529846,0.619549,0.439099,0.424226,0.520475,0.558077,0.612760,0.433189,0.393784,0.479661,0.648168,0.458082,0.421052,0.455724
05,0.589049,0.595202,0.703738,0.723162,0.642439,0.599185,0.710066,0.688207,0.737180,0.439295,0.501251,0.631250,0.706273,0.636788,0.627798,0.640769
06,0.799853,0.730107,0.777716,0.745048,0.679470,0.709926,0.866474,0.818276,0.846392,0.498535,0.546508,0.883457,0.833802,0.909576,0.760957,0.795011
07,0.774409,0.718438,0.864275,0.726129,0.764925,0.882350,0.846125,0.956733,0.802443,0.578089,0.772890,0.883050,0.574517,0.863250,1.000000,0.881941
08,0.824844,0.616295,0.865191,0.593512,0.790376,1.000000,1.000000,0.534253,0.607804,1.000000,1.000000,0.479001,0.441030,0.863360,0.513475,0.804256
09,1.000000,1.000000,1.000000,1.000000,1.000000,0.956288,0.980106,1.000000,1.000000,0.661119,0.761355,1.000000,0.982967,1.000000,0.897341,1.000000
10,0.813163,0.635075,0.776600,0.840123,0.745836,0.645389,0.671966,0.731198,0.868854,0.504648,0.524258,0.727196,1.000000,0.694503,0.669696,0.632231
11,0.385643,0.310910,0.450083,0.681310,0.369898,0.287401,0.349376,0.406400,0.482358,0.223775,0.309683,0.384136,0.490882,0.346927,0.334534,0.304215
12,0.566242,0.252583,0.475738,0.621738,0.340202,0.340151,0.369438,0.405154,0.465793,0.395185,0.446268,0.342199,0.619258,0.303471,0.296832,0.266680

In [341]:
superfinal2=final2.copy()

In [342]:
superfinal2['Total']=marrate['Total']

In [343]:
for i in superfinal2: 
   superfinal2[i] = superfinal2.apply(lambda x: x[i] - x["Total"], axis=1)

In [344]:
superfinal2

Comunidades y Ciudades Autónomas,01 Andalucía,02 Aragón,"03 Asturias, Principado de","04 Balears, Illes",06 Cantabria,07 Castilla y León,08 Castilla - La Mancha,09 Cataluña,10 Comunitat Valenciana,11 Extremadura,12 Galicia,"13 Madrid, Comunidad de","14 Murcia, Región de","15 Navarra, Comunidad Foral de",16 País Vasco,"17 Rioja, La",Total
Periodo,,,,,,,,,,,,,,,,,
01,0.020554,-0.114328,0.034521,0.118148,-0.048383,-0.053490,-0.076000,-0.010056,-0.011803,-0.061393,0.084752,-0.057753,0.066166,-0.077852,-0.073735,-0.097131,0.0
02,0.018603,-0.115700,0.035329,0.160139,-0.051146,-0.081734,-0.086480,-0.015239,0.027440,-0.095724,0.003237,-0.032013,0.036061,-0.067549,-0.077369,-0.106273,0.0
03,0.054618,-0.120043,0.021781,0.100294,-0.057956,-0.124035,-0.069765,-0.029964,0.042941,-0.109668,-0.071771,-0.045056,0.151328,-0.053091,-0.085286,-0.096256,0.0
04,0.037118,-0.099339,-0.011299,0.078404,-0.102046,-0.116919,-0.020670,0.016932,0.071615,-0.107956,-0.147361,-0.061485,0.107023,-0.083063,-0.120093,-0.085421,0.0
05,-0.067810,-0.061657,0.046879,0.066303,-0.014419,-0.057674,0.053207,0.031348,0.080322,-0.217563,-0.155608,-0.025609,0.049414,-0.020071,-0.029060,-0.016089,0.0
06,-0.014766,-0.084513,-0.036903,-0.069571,-0.135150,-0.104694,0.051854,0.003656,0.031773,-0.316085,-0.268111,0.068837,0.019183,0.094957,-0.053663,-0.019608,0.0
07,-0.097178,-0.153148,-0.007311,-0.145458,-0.106661,0.010763,-0.025461,0.085146,-0.069143,-0.293498,-0.098697,0.011464,-0.297069,-0.008336,0.128414,0.010354,0.0
08,0.089925,-0.118623,0.130273,-0.141406,0.055458,0.265082,0.265082,-0.200665,-0.127115,0.265082,0.265082,-0.255917,-0.293888,0.128442,-0.221443,0.069337,0.0
09,0.000000,0.000000,0.000000,0.000000,0.000000,-0.043712,-0.019894,0.000000,0.000000,-0.338881,-0.238645,0.000000,-0.017033,0.000000,-0.102659,0.000000,0.0
10,0.048642,-0.129446,0.012079,0.075602,-0.018685,-0.119132,-0.092555,-0.033323,0.104333,-0.259873,-0.240263,-0.037325,0.235479,-0.070018,-0.094826,-0.132290,0.0
11,-0.021070,-0.095804,0.043369,0.274596,-0.036816,-0.119313,-0.057338,-0.000314,0.075644,-0.182939,-0.097031,-0.022578,0.084169,-0.059787,-0.072180,-0.102499,0.0
12,0.113956,-0.199703,0.023452,0.169452,-0.112084,-0.112135,-0.082848,-0.047132,0.013507,-0.057101,-0.006018,-0.110087,0.166972,-0.148815,-0.155454,-0.185606,0.0

In [345]:
superfinal2.describe()

Comunidades y Ciudades Autónomas,01 Andalucía,02 Aragón,"03 Asturias, Principado de","04 Balears, Illes",06 Cantabria,07 Castilla y León,08 Castilla - La Mancha,09 Cataluña,10 Comunitat Valenciana,11 Extremadura,12 Galicia,"13 Madrid, Comunidad de","14 Murcia, Región de","15 Navarra, Comunidad Foral de",16 País Vasco,"17 Rioja, La",Total
count,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.0
mean,0.015216,-0.107692,0.024347,0.057209,-0.052324,-0.054749,-0.013406,-0.016634,0.019959,-0.147967,-0.080870,-0.047293,0.025650,-0.030432,-0.079780,-0.063457,0.0
std,0.060673,0.048478,0.041658,0.126763,0.054829,0.108799,0.100879,0.067448,0.066246,0.164217,0.152499,0.078839,0.165219,0.077365,0.082517,0.071975,0.0
min,-0.097178,-0.199703,-0.036903,-0.145458,-0.135150,-0.124035,-0.092555,-0.200665,-0.127115,-0.338881,-0.268111,-0.255917,-0.297069,-0.148815,-0.221443,-0.185606,0.0
25%,-0.016342,-0.122393,-0.001828,-0.017393,-0.103200,-0.117472,-0.077712,-0.030804,-0.002951,-0.268279,-0.176367,-0.058686,0.010129,-0.071977,-0.107018,-0.103442,0.0
50%,0.019578,-0.115014,0.022617,0.077003,-0.049764,-0.093214,-0.041400,-0.005185,0.029606,-0.146303,-0.097864,-0.034669,0.057790,-0.056439,-0.081327,-0.090838,0.0
75%,0.050136,-0.092981,0.037339,0.128646,-0.017619,-0.051045,-0.001957,0.006975,0.072622,-0.087141,-0.003705,-0.016933,0.118099,-0.006252,-0.067551,-0.012067,0.0
max,0.113956,0.000000,0.130273,0.274596,0.055458,0.265082,0.265082,0.085146,0.104333,0.265082,0.265082,0.068837,0.235479,0.128442,0.128414,0.069337,0.0